.container { 
 max-width: 1024px; 
 width: 100%; 
 margin: 0 auto; 
 } 

.view-todo ul { 
 list-style: none; 
 padding: 0; 
 margin: 0; 
 } 

.view-todo ul li { 
 border: 1px solid #ddd; 
 } 

.view-todo ul li h2,
.view-todo ul li .btn { 
 font-size: 14px; 
 line-height: 18px; 
 } 
